:root {
    --font-family: monospace;
}

h1 {
    color: red;
    font-family: var(--font-family);
    text-align: center;
    font-size: 40px;
}

#player {
    margin: 20px 0 20px 380px;
} 

.player-image {
    width: 130px;
    height: 130px;
    padding: 0 50px 0 0;
}

.player-image:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#computer {
    margin-left: 440px;
}

.computer-image {
    width: 100px;
    height: 100px;
    padding: 0 30px 0 0;
}

#result {
    text-align: center;
    font-size: 30px;
    color: green;
    font-family: var(--font-family);
}

#scores {
    font-family: var(--font-family);
    text-align: center;
}
